.container{
    background-color: brown;
    height: 500px;
    border: 2px solid black;
    display: grid;
    grid-template-columns:   repeat(2 , 1fr); 
    grid-template-rows: repeat(4 , 1fr);
    gap: 15px;
}
.box{
    background-color: aqua;
    border: 2px solid black;
    

}

#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}
#box3{
    grid-row: 2 4;
}